* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 50px;
}
h1,
h2,
h3 {
    font-family: "Clash Display", sans-serif;
}
h4,
p {
    font-family: "Satoshi", sans-serif;
}

/* ------------------------------------ */
/* 
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    background-color: white;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: all 0.3s ease;
}

.navbar-links a {
    color: black;
    text-decoration: none;
    margin-right: 30px;
} */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 60px;
    padding: 15px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    transition: all 0.3s ease;
}
.navbar img{
    filter: invert(100%);
}

.navbar-links a {
    color: white;
    text-decoration: none;
    margin-right: 30px;
} 

.navbar.scrolled {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.navbar.scrolled .navbar-links a {
    color: black; 
}

.navbar-logo {
    width: 135px;
    height: auto;
}

.navbar-links a:hover {
    text-decoration: underline;
}

/* ------------------------------------ */

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: black;
}

.background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 60%;
}
.background .content {
    max-width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}
.content h1 {
    font-size: 60px;
}
.content h4 {
    font-size: 20px;
}

/* ------------------------------------ */

.gallery {
    min-height: 80vh;
    background-color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
}

.gallery-item {
    max-width: 400px;
    flex: 0 0 calc(30% - 20px);
    margin: 20px;
    text-align: center;
}
.gallery-item img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.035);
}
.gallery-item-text {
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.gallery-item h3 {
    margin: 0px;
    font-size: 40px;
}
.gallery-item h4 {
    margin: 25px 0px;
    font-size: 18px;
}

.gallery-item button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: white;
    color: #4d4d4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
    transition: all 0.3s ease;
}

.gallery-item button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

/* ------------------------------------ */

.triple-section-item {
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-around; */
}
.triple-section-item:nth-child(even) {
    background-color: #666666;
    color: white;
}
.triple-section-item .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.triple-section-item .text-container .text {
    width: 70%;
}
.text p {
    margin-top: 1.5em;
    font-size: 22px;
    font-weight: 600;
}
.triple-section-item img {
    max-width: 40%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1000px) {
    img:not(.navbar img, .background img, .gallery img) {
        display: none;
    }

    .text h1 {
        font-size: 40px;
    }
    .text p {
        font-size: 20px;
    }

    .video-section {
        flex-direction: column;
    }
    .video-container {
        margin-bottom: 3em;
    }
    .asian.video-section {
        flex-direction: column-reverse;
    }
}

/* ------------------------------------ */

.video-section {
    width: 100%;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #666666;
    overflow: hidden;
}
.video-container {
    position: relative;
    height: 100%;
    width: 70%;
}
.video-container .video {
    position: absolute;
    inset: 50% 50%;
    transform: translate(-50%, -50%);
    height: fit-content;
}
#video-europa {
    width: 65%;
}
#video-asia {
    width: 55%;
}
#video-africa {
    width: 40%;
}
.video-container .video video {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.video-container .video video:hover {
    transform: scale(1.04);
}

.video-section .text-container {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.video-section .text-container .text {
    width: 70%;
    color: white;
}

.asian {
    background-color: white;
}
.asian .text-container .text {
    color: black;
}
.asian.video-section .video-container {
    width: 100%;
}
